@font-face {
    font-family: MelonBP;
    src: url(fonts/MelonBP.ttf);
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #fff;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #000;
    text-align: left;
}

a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #000;
    text-align: left;
}

#navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%
}

#navbar li {
    float: left;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-right: 2px solid #000;
    background-color: #fff;
}

#navbar li a {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'MelonBP', Courier, monospace;
    font-size: 16px;
    color: #000;
    text-align: center;
    text-shadow: -2px 2px #e6a1e6, -4px 4px #e6e6a1, -6px 6px #a1e6e6;
    text-decoration: none;
    transition: transform 250ms ease-in-out;
}

#navbar li a img {
    margin-top: -10px;
    margin-bottom: -15px;
    margin-left: -20px;
    margin-right: -20px;
    width: 50px;
    height: 50px;
}

#navbar li a:hover {
    transform: scale(0.9);
}

#footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border-top: 2px solid #000;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
}

#footer li {
    float: left;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-right: 2px solid #000;
    background-color: #fff;
    font-family: 'MelonBP', Courier, monospace;
    font-size: 16px;
    color: #000;
    text-align: center;
    text-shadow: -2px 2px #e6a1e6, -4px 4px #e6e6a1, -6px 6px #a1e6e6;
}

#footer li .clickable {
    margin-top: -10px;
    margin-bottom: -10px;
    width: 50px;
    height: 50px;
    transition: transform 250ms ease-in-out;
}

#footer li .unclickable {
    margin-bottom: -10px;
    margin-right: 10px;
    padding-bottom: 4px;
    width: 32px;
    height: 32px;
}

#footer li .clickable:hover {
    transform: scale(0.9);
}

#background-image img {
    width: 100%;
    image-rendering: crisp-edges;
}

#section h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'MelonBP', Courier, monospace;
    font-size: 16px;
    color: #000;
    text-align: left;
    text-shadow: -2px 2px #e6a1e6, -4px 4px #e6e6a1, -6px 6px #a1e6e6;
}

#section p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #000;
    text-align: left;
    line-height: 2.0;
}

#section a {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #000;
    text-align: left;
    line-height: 2.0;
}

#section ul {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #000;
    text-align: left;
    line-height: 2.0;
    list-style-type: square;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-bottom: 40px;
    margin-left: 30px;
    width: 87.5%
}

.grid-item p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-align: left;
}

.grid-item img {
    object-fit: cover;
    width: 98%;
    max-height: 100%;
    padding: 2%;
    border: 2px solid #000;
    image-rendering: crisp-edges;
    transition: transform 250ms ease-in-out;
}

.grid-item img:hover {
    transform: scale(0.9);
}

#trailer {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

#trailer iframe {
    width: 720px;
    height: 405px;
    padding: 1%;
    border: 2px solid #000;
}

@media screen and (max-width: 850px) {
    #navbar li {
        margin-top: 8px;
        margin-bottom: 8px;
        padding-left: 23px;
        padding-right: 23px;
        border-right: 1.5px solid #000;
    }

    #navbar li a {
        font-size: 12px;
        text-shadow: -1.5px 1.5px #e6a1e6, -3px 3px #e6e6a1, -4.5px 4.5px #a1e6e6;
    }
    
    #navbar li a img {
        margin-top: -8px;
        margin-bottom: -11px;
        margin-left: -15px;
        margin-right: -15px;
        width: 38px;
        height: 38px;
    }

    #footer ul {
        border-top: 1.5px solid #000;
    }

    #footer li {
        margin-top: 8px;
        margin-bottom: 8px;
        padding-left: 12px;
        padding-right: 12px;
        border-right: 1.5px solid #000;
        font-size: 12px;
        text-shadow: -1.5px 1.5px #e6a1e6, -3px 3px #e6e6a1, -4.5px 4.5px #a1e6e6;
    }
    
    #footer li .clickable {
        margin-top: -8px;
        margin-bottom: -8px;
        width: 38px;
        height: 38px;
    }
    
    #footer li .unclickable {
        margin-bottom: -8px;
        margin-right: 8px;
        padding-bottom: 3px;
        width: 24px;
        height: 24px;
    }

    #section h1 {
        margin-left: 23px;
        margin-right: 23px;
    }
    
    #section p {
        margin-left: 23px;
        margin-right: 23px;
    }
    
    #section a {
        margin-left: 23px;
        margin-right: 23px;
    }

    #section ul {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 23px;
        margin-right: 23px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        margin-bottom: 30px;
        margin-left: 23px;
    }

    .grid-item img {
        border: 1.5px solid #000;
    }

    #trailer {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 23px;
        margin-right: 23px;
    }

    #trailer iframe {
        width: 540px;
        height: 304px;
        border: 1.5px solid #000;
    }
}

@media screen and (max-width: 650px) {
    #navbar li {
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        border-right: 1px solid #000;
    }
    #navbar li a {
        font-size: 8px;
        text-shadow: -1px 1px #e6a1e6, -2px 2px #e6e6a1, -3px 3px #a1e6e6;
    }
    
    #navbar li a img {
        margin-top: -5px;
        margin-bottom: -8px;
        margin-left: -10px;
        margin-right: -10px;
        width: 25px;
        height: 25px;
    }

    #footer ul {
        border-top: 1px solid #000;
    }

    #footer li {
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 8px;
        padding-right: 8px;
        border-right: 1px solid #000;
        font-size: 8px;
        text-shadow: -1px 1px #e6a1e6, -2px 2px #e6e6a1, -3px 3px #a1e6e6;
    }
    
    #footer li .clickable {
        margin-top: -5px;
        margin-bottom: -5px;
        width: 25px;
        height: 25px;
    }
    
    #footer li .unclickable {
        margin-bottom: -5px;
        margin-right: 5px;
        padding-bottom: 2px;
        width: 16px;
        height: 16px;
    }

    #section h1 {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    #section p {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    #section a {
        margin-left: 15px;
        margin-right: 15px;
    }

    #section ul {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        margin-bottom: 20px;
        margin-left: 15px;
    }

    .grid-item img {
        border: 1px solid #000;
    }

    #trailer {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 15px;
        margin-right: 15px;
    }

    #trailer iframe {
        width: 360px;
        height: 202px;
        border: 1px solid #000;
    }
}
