body {
    background-color: #fff;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #000;
    text-align: left;
}

a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #000;
    text-align: left;
}